{% extends 'layouts/app.html' %}
{% load static %}
{% block content %}
<section class="bd-banner-area">
    <div class="swiper bdSliderActive p-relative">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="bd-banner-slider-wrapper">
                    <div class="bd-banner-bg-image" data-background="{% static 'images/banner/banner-2-img-1.webp' %}">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xxl-6 col-xl-8">
                                <div class="bd-banner-content-two text-center">
                                    <div class="bd-banner-subtitle mb-10">find your course here</div>
                                    <h1 class="bd-banner-title white-text mb-25">Empowering Minds, Shaping Futures</h1>
                                    <div class="bd-banner-form">
                                        <div class="bd-banner-form-input">
                                            <input type="text" placeholder="Search Program">
                                            <button class="bd-btn-icon btn-primary btn-large radius-50" type="button"><i
                                                    class="fa-light fa-magnifying-glass"></i></button>
                                        </div>
                                        <div class="form-list">
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">10K+ Students</p>
                                            </div>
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">50+ Programs</p>
                                            </div>
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">200+ Professor</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bd-banner-slider-wrapper">
                    <div class="bd-banner-bg-image" data-background="{% static 'images/banner/banner-2-img-2.webp' %}">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xxl-6 col-xl-8">
                                <div class="bd-banner-content-two text-center">
                                    <div class="bd-banner-subtitle mb-10">find your course here</div>
                                    <h1 class="bd-banner-title white-text mb-25">Empowering Minds, Shaping Futures</h1>
                                    <div class="bd-banner-form">
                                        <div class="bd-banner-form-input">
                                            <input type="text" placeholder="Search Program">
                                            <button class="bd-btn-icon btn-primary btn-large radius-50" type="button"><i
                                                    class="fa-light fa-magnifying-glass"></i></button>
                                        </div>
                                        <div class="form-list">
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">10K+ Students</p>
                                            </div>
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">50+ Programs</p>
                                            </div>
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">200+ Professor</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bd-banner-slider-wrapper">
                    <div class="bd-banner-bg-image" data-background="{% static 'images/banner/banner-2-img-3.webp' %}">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xxl-6 col-xl-8">
                                <div class="bd-banner-content-two text-center">
                                    <div class="bd-banner-subtitle mb-10">find your course here</div>
                                    <h1 class="bd-banner-title white-text mb-25">Empowering Minds, Shaping Futures</h1>
                                    <div class="bd-banner-form">
                                        <div class="bd-banner-form-input">
                                            <input type="text" placeholder="Search Program">
                                            <button class="bd-btn-icon btn-primary btn-large radius-50" type="button"><i
                                                    class="fa-light fa-magnifying-glass"></i></button>
                                        </div>
                                        <div class="form-list">
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">10K+ Students</p>
                                            </div>
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">50+ Programs</p>
                                            </div>
                                            <div class="form-list-item">
                                                <span class="icon"><i class="fa-solid fa-check"></i></span>
                                                <p class="description">200+ Professor</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- navigation button start -->
        <div class="bd-banner-navigation d-none d-xl-block">
            <div class="bd-banner-navigation-btn-two">
                <button class="banner-navigation-prev"><i class="fa-regular fa-angle-left"></i></button>
                <button class="banner-navigation-next"><i class="fa-regular fa-angle-right"></i></button>
            </div>
        </div>
        <!-- navigation button end -->
    </div>
</section>
{% endblock %}
