{% extends 'layouts/app.html' %}

{% block content %}

<section class="box-section background-body pt-80 pb-110 dashboard">
    <div class="container">
        <div class="row">
            {% include 'inc/admin_sidebar.html' %}

            <div class="col-xl-9 col-lg-8">
                <div class="card shadow-none">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="neutral-1000 text-md-bold fs-5">Approved Students</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table datatable table-striped">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Age</th>
                                        <th>Faculty</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                    <tr>
                                        <td>{{ student.full_name }}</td>
                                        <td>{{ student.gender|title }}</td>
                                        <td>{{ student.age }}</td>
                                        <td>{{ student.faculty.name }}</td>
                                        <td>
                                            <a href="{% url 'base:student_detail' student.id %}">
                                                <i class="fi fi-rr-eye me-1"></i> 
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'base:student_detail' student.id %}">
                                                <i class="fi fi-rr-eye me-1"></i> 
                                            </a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6" class="text-center">No approved students</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
