{% extends 'layouts/app.html' %}

{% block content %}


<section class="box-section background-body pt-40 pb-110 dashboard">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="card user-sidebar mb-4">
                    <div class="card-header user-sidebar-header">
                        <div class="profile-content rounded-pill">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center justify-content-center py-2">
                                    <img src="assets/imgs/section-1/img-2.png" alt="image" class="img-fluid avatar avatar-lg rounded-circle me-3">
                                    <div>
                                        <p class="fw-bold fs-5">Steven Jobs</p>
                                        <span class="fs-14 text-gray-6">Since 16 Aprill 2015</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="d-flex align-items-center justify-content-center">
                                        <a href="user-dashboard-setting.html" class="p-1 rounded-circle align-items-center justify-content-center btn-edit">
                                            <i class="fi fi-rr-pencil fs-7"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body user-sidebar-body">
                        <ul class="dashboard-sidebar-menu">
                            <li class="py-2"><a href="{% url 'base:admin_dashboard' %}"><i class="fi fi-rr-home me-1"></i> User Dashboard</a></li>
                            <li class="py-2"><a href="{% url 'base:admin_show' %}"><i class="fi fi-rr-calendar me-1"></i>My Students</a></li>
                            <li class="py-2"><a href="user-dashboard-wallet.html"><i class="fi fi-rr-money me-1"></i>My Wallet</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8">
                

                <!--Couner-->
                <div class="row">
                    <div class="col-xl-4 mb-2 mb-lg-0">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-xl rounded-circle bg-primary me-3">
                                        <i class="fi fi-rr-bookmark fs-36"></i>
                                    </span>
                                    <div>
                                        <h5><span class="odometer" data-count="25"></span></h5>
                                        <p>Total Bookings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 mb-2 mb-lg-0">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-xl rounded-circle bg-danger me-3">
                                        <i class="fi fi-rr-research-arrows-circle"></i>
                                    </span>
                                    <div>
                                        <h5>$<span class="odometer" data-count="28"></span>K</h5>
                                        <p>Total Transactions</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <span class="avatar avatar-xl rounded-circle bg-warning me-3">
                                        <i class="fi fi-rr-wallet"></i>
                                    </span>
                                    <div>
                                        <h5>$<span class="odometer" data-count="2458"></span></h5>
                                        <p>Wallet balance</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--notifications & recent bookings-->
                <div class="row mt-4">
                    <!-- Booking -->
                    <div class="col-xl-12 d-flex">
                        <div class="card shadow-none flex-fill">
                            <div class="card-header">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="neutral-1000 text-md-bold fs-5">Bookings Statistics</span>
                                    <div class="dropdown">
                                        <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm text-gray-6 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                            <i class="fi fi-rr-filter-list me-2"></i>Fillter
                                        </a>
                                        <ul class="dropdown-menu small dropdown-menu-end p-2">
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                    <i class="ti ti-point-filled me-1"></i>All
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                                    <i class="ti ti-point-filled me-1"></i>Recent
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card shadow-none mb-2">
                                    <div class="card-body">
                                        <div id="chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Booking -->

                </div>


            </div>
        </div>
    </div>
</section>

{% endblock content %}
