<!-- footer.html -->
<footer class="bd-footer-area fix">
    <div class="bd-footer-area-main-content section-space theme-bg-05">
        <div class="container">
            <div class="row gy-30 justify-content-between">
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-8 col-sm-12">
                    <div class="bd-footer-widget footer-1-col-1">
                        <div class="bd-footer-widget-content">
                            <div class="bd-footer-widget-logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/logo.svg" alt="logo">
                                </a>
                            </div>
                            <p class="bd-footer-widget-description">Education focused website or template is an essential part that provides visitors with insights into the program.</p>
                            <div class="bd-footer-widget-contact-info">
                                <div class="bd-footer-widget-contact-item">
                                    <span>Phone:</span>
                                    <a href="tel:+123456789">+123-4567-8900</a>
                                </div>
                                <div class="bd-footer-widget-contact-item">
                                    <span>Email:</span>
                                    <a href="mailto:info@example.com">info@example.com</a>
                                </div>
                                <div class="bd-footer-widget-contact-item">
                                    <span>Address:</span>
                                    <a href="#">27 Division St, New York</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="bd-footer-widget footer-1-col-2">
                        <h6 class="bd-footer-widget-title">Useful Links</h6>
                        <ul>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="courses.html">Our Programs</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="bd-footer-widget footer-1-col-3">
                        <h6 class="bd-footer-widget-title">Stay Connected</h6>
                        <div class="bd-footer-social">
                            <ul class="social-icon-list">
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
