<!-- header.html -->
<header>
    <div class="bd-header-top">
        <div class="bd-header-top-left">
            <ul>
                <li><a href="tel:+8884467880"><span><i class="fa-solid fa-phone-volume"></i></span>(888) 446-7880</a></li>
                <li><a href="mailto:info@example.com"><span><i class="fa-sharp fa-light fa-envelope"></i></span>info@example.com</a></li>
            </ul>
        </div>
        <div class="bd-header-top-right text-md-end">
            <a href="#"><span><i class="fa-solid fa-phone-volume"></i></span>Brooklyn, NY 12207, New York</a>
        </div>
    </div>
    <div class="bd-header-area header-style-one" id="header-sticky">
        <div class="bd-header-inner">
            <div class="bd-header-left">
                <div class="bd-header-logo">
                    <a href="index.html"><img src="assets/images/logo/logo.svg" alt="logo"></a>
                </div>
                <div class="bd-header-category d-none d-lg-block">
                    <div class="bd-category-btn">
                        <i class="fa-solid fa-grid"></i> Category
                    </div>
                    <div class="bd-category-dropdown">
                        <nav>
                            <ul>
                                <li><a href="courses.html">Development</a></li>
                                <li><a href="courses.html">Marketing</a></li>
                                <li><a href="courses.html">Photography</a></li>
                                <li><a href="courses.html">Life Style</a></li>
                                <li><a href="courses.html">Health & Fitness</a></li>
                                <li><a href="courses.html">Data Science</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="bd-header-menu">
                <nav class="main-menu bd-mobile-menu-active d-none d-xl-block">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="courses.html">Courses</a></li>
                        <li><a href="about-us.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
